.App {
  text-align: center;
}

.Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

li {
  list-style-position: inside;
  font-size: 28px;
}

.App-logo {
  height: 300px;
  pointer-events: none;
}

.yeezy {
  max-width:100%;
  max-height:100%;
  transform: scaleX(-1);
}

.navBorder {
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 4px;
}

.bids {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.place {
  border: 1px solid black;
  text-align: center;
  width: 50%;
  padding: 8px 40px;
  margin-right: 16px;
  transition: 0.3s;
}

.place:hover {
  background: black;
  color: white;
}

.buy {
  border: 1px solid #006340;
  width: 50%;
  text-align: center;
  padding: 8px 40px;
  background: #006340;
  color: white;
}

.buy:hover {
  border: 1px solid #E2E8F0;
  background: #E2E8F0;
  color: white;

}

.priceBorder {
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
}

.ask {
  text-align: center;
  color: #006340;
  font-size: 18px;
}

.ask:hover {
  background: #E2E8F0;
}

.sale {
  margin-top: 12px;
  font-size: 14px;
}

.mainPrice {
  display: flex;
  justify-content: space-between;
}

.ax {
  border: 1px solid black;
  text-align: center;
  padding: 1px 16px;
  margin-right: 4px;
  transition: 0.3s;
}

.ax:hover {
  background: black;
  color: white;
}

.last {
  color: #006340;
  font-size: 24px;
}

.boxes {
  display: flex;
  justify-content: center;
  height: 30px;
}

.percent {
  color: #006340;
}

.bottomBorder {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 12px;
}

.details {
  font-size: 24px;
}

.mainDetails {
  font-size: 14px;
  margin-top: 24px;
}

.subDetails {
  font-size: 14px;
  margin-top: 24px;
  margin-left: 32px;
  font-weight: bold;
}

.App-header {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.underline {
  text-decoration: underline;
}

.shoeDetails {
  background-color: #F4F3F1;
}

.shoeDetails2 {
  background-color: #F4F3F1;
  margin-left: 8px;
}

.icons {
  font-size: 24px;
}

.iconMargin {
  margin-left: 16px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 30px 80px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
}

.div2 {
  grid-area: 2 / 1 / 4 / 3;
}

.div3 {
  grid-area: 2 / 3 / 4 / 5;
}

.div4 {
  grid-area: 4 / 1 / 5 / 5;
}

.div5 {
  grid-area: 5 / 1 / 6 / 5;
}
